@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:wght@500&display=swap');

:root {  
    --color-dark: #17161a;
    --color-incognito: #333;
    --color-white: #fff;
    --color-background_white: #f5f5f7;
    --color-background_dark: #292729;
    --color-primary: #ffa01b;
    --color-primary_burger: #ff9f1b;
    --color-green: green;
    --color-success: #60bd4f;
    --color-red: #e25549;
    --color-redSecondary: #c4151c;
    --color-blue: #51a7e1;
    --color-greyLight: #e4e5e9;
    --color-greyMedium: #a7a8ad;
    --color-greySemiDark: #93a2b1;
    --color-greyDark: #6f737e;
    --color-greyBlue: #747b91;

    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 20px;
    --spacing-lg: 32px;
    --spacing-xl: 52px;
    --spacing-xxl: 84px;

    --font-XXXS: 8px;
    --font-XXS: 10px;
    --font-XS: 12px;
    --font-P0: 15px;
    --font-P1: 18px;
    --font-P2: 20px;
    --font-P3: 24px;
    --font-P4: 36px;
    --font-P5: 48px;
    --font-P6: 60px;

    --gridUnit: 8;

    --borderRadius-subtle: 1;
    --borderRadius-round: 5px;
    --borderRadius-extraRound: 15px;
    --borderRadius-circle: 50%;

    /* --shadows- */

    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semiBold: 600;
    --weight-bold: 700;
    --weight-heavy: 800;
}

body {
    margin: 0;
}

.auth {
    display: flex;
	place-content: center;
	place-items: center;
    flex-direction: column;
	min-height: 100vh;
    
    ::before {
        content: '';
        position: absolute;
        inset: 0;
        background: url(./assets/burger-background.jpg) rgba(0, 0, 0, .7);
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
        z-index: -1;
    }
}

.auth_logo {
    display: flex;
    align-items: center;
    /* gap: 0 1.25rem; */
    column-gap: clamp(0.015625rem, -1.1622rem + 5.0254vw, 1.25rem);
    padding-inline: 1rem;
    
    font-family: "Amatic SC", sans-serif;
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    /* font-size: 110px; */
    font-size: clamp(3.625rem, 0.5239rem + 13.2316vw, 6.875rem);
    color: var(--color-primary_burger);
    
    img {
        max-width: 200px;
        width: 100%;
    }
}